
body{
	background-color: #0073CF !important;
}
.navbar-fixed-top{
	background-color: #0073CF !important;
	border: 1px solid  #0073CF;
}

h1{
	font-family: roboto;
	font-weight: medium;
	color: #FED136;
	font-size: 70px;
	padding-bottom: 20px;
	text-align: left;

}

h2{
	font-family: roboto;
	font-weight: lighter;
	color: #FED136;
	font-size: 50px;
	padding-bottom: 40px;
	text-align: left;
}
#logo{
	margin-left: 10px;
}

.navbar-btn{
	float: right;
	color: #FED136;
	background-color: #0073CF;
}

#inputEmail3{
	background-color: #2A689A !important;
	border: 1px solid  #0073CF;
	color: white;

}
#inputPassword3{
	background-color: #2A689A !important;
	border: 1px solid  #0073CF;
	color: white;
}

#exampleInputName2{
	background-color: white;
	color: #2A689A;
}
#exampleInputEmail2{
	background-color:white;
	color: #2A689A;
}
#examplePassword2{
	background-color: white;
	color:#2A689A;
}

.separator{
	padding-top: 140px;
	background-color: #0073CF !important;
}

.rbutton{
	width: auto;
	background-color: #FED136;
	color: #0073CF;
	float: right;
	margin-top: 15px;	

}
.rbutton:hover{
	color: #0073CF;
}
.rbutton:focus{
	color: #0073CF;
}
.sbutton{
	width: auto;
	background-color: #FED136;
	color: #0073CF;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.sbutton:hover{
	color:#0073CF;
}
.sbutton:focus{
color:#0073CF;
}
.phone{
	padding-left: 250px;
	margin-bottom: 20px;
	background-color: #0073CF;
	
}

.join{
	width: 500px;
	font-size: 40px;
	background-color:  #FED136;
	color: #0073CF;
	font-weight: bold;
}
.join:hover{
	color: #0073CF;
}

.join:focus{
	color: #0073CF;
}
.modal-title{
	color: #0073CF;
	text-align: center;
	font-size: 30px;
}
.modal-body{
	text-align: center;
}
i{
	color: #2A689A;
}
.modal-footer{
	text-align: center;
}
.glyphicon-lock{
	padding-top: 10px !important;
	color: #FED136;
	padding-left: 20px;

}
.glyphicon-envelope{
	padding-top: 10px !important;
	color: #FED136;
	padding-left: 20px;
}
.social{
	padding-bottom: 20px;

}

.sign{
	background-color:  #FED136;
	color: #0073CF;
	text-align: center;

}
.sign:hover{
	color: #0073CF;
}
.sign:focus{
	color: #0073CF;
}
.register{
	background-color:  #FED136;
	color: #0073CF;
}
.register:hover{
	color: #0073CF;
}
.register:focus{
	color: #0073CF;
}
.glyphicon-user{
	padding-top: 10px;
	margin-left: 20px;
	color:#0073CF;
}
#registerE{
	color: #0073CF;
	padding-right: 50px;

}
#lock{
	color: #0073CF;
}

.navigation{

}

.pull-right{
	margin-top: 15px;
}
.dashbutton{
	background-color: #FED136;
	color: #0073CF;
}
.dashbutton:hover{
	background-color:#FED136; 
}
.dashbutton:focus{
	color: white;

}
.Postbutton{
	background-color: #FED136;
	color: #0073CF;
}
.searchbutton{
	background-color: #FED136;
	color: #0073CF;
}
.messagesbutton{
	background-color: #FED136;
	color: #0073CF;
}
.main{
	background-color: white;
	height: 400px;
}
.listings{
	background-color: white;
	border: 1px solid gray;
	height: 100%;
}
.hotdeals{
	background-color: white;
	border: 1px solid gray;
	height: 100%;
}
.favourites{
	background-color: white;
	border: 1px solid gray;
	height: 100%;
}
.anything{
	background-color: white;
	border: 1px solid gray;
	height: 100%;
}
.sociallinks{
	background-color: #0073CF;
	
	margin-top: 20px;
	margin-bottom: 20px;
}
.socialbuttons{
	background-color: #FED136;
	height: 40px;
}
.f{
	margin-left: 30px;
}
.t{
	margin-left: 30px;
}
.i{
	margin-left: 30px;
}
.li{
	margin-left: 30px;
}