<html>

<title>Dashboard</title>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homeS.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>


<!--Search-Modal-->

<div class="modal fade" tabindex="-1" role="dialog" data-toggle="modal" data-target="#myModal" id="search">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search For Listings</h4>
      </div>

      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="searchInput" placeholder="LOCATION">
            </div>
        </div>

        

        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <img  alt="Rooms" src="static/images/rooms.png" height="auto" width="50px" id="rooms">
            </div>
            <div class="col-sm-4">
                <img  alt="Pets" src="static/images/pets.png" height="auto" width="45px" id="pets">
            </div>
            <div class="col-sm-4">
                <img  alt="Parking" src="static/images/parking.png" height="auto" width="50px" id="parking">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <span class="label label-primary">Rooms</span>  
            </div>
            <div class="col-sm-4">
                <span class="label label-primary">Pet friendly</span>
            </div>
            <div class="col-sm-4">
                <span class="label label-primary">Parking</span>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-sm-4">
                <img  alt="Rooms" src="static/images/tv-internet.png" height="auto" width="50px" id="tv-internet">
            </div>

            <div class="col-sm-4">
                <img  alt="Pets" src="static/images/laundry.png" height="auto" width="50px" id="laundry">
            </div>

            <div class="col-sm-4">
                <img  alt="Parking" src="static/images/sofa.png" height="auto" width="50px" id="sofa">
            </div>
        </div>

         <div class="row">
            <div class="col-sm-4">
                <span class="label label-primary">TV & Internet</span>
            </div>
                <div class="col-sm-4">
                    <span class="label label-primary">Laundry</span>
                </div>
                    <div class="col-sm-4">
                        <span class="label label-primary">Furnished</span>
                    </div>
        </div><br><br>

     </div>

      <div class="modal-footer">
        <i class="fa fa-search fa-3x"></i>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--Post-Modal-->

<div class="modal fade" tabindex="-1" role="dialog data-toggle="modal" data-target="#myModal" id="post"">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Post A Listing</h4>
      </div>

      <div class="modal-body modal-body-post">

                <div class="row">
                    <div class="col-sm-12">
                         <span class="label label-primary" id="title-label">Title</span><br><br>
                                 <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1"> 
                    </div>
                </div>
                <br><br>
                <div class="row">
                    
                        <div class="col-sm-6">
                             <span class="label label-primary" id="number-rooms">Rooms</span><br><br>
                                    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">   
                        </div>
                    <div class="col-sm-6">
                         <div class="row">
                            <div class="col-sm-6">
                                <span class="label label-primary" id="price-label">Price</span><br><br>
                                <input type="number" class="form-control" placeholder="$" aria-describedby="sizing-addon1"> 
                            </div>
                         </div>
                    </div>                    
                </div>
            
        <br><br>

            
            <div class="row">
                <div class="col-sm-12">
                    <span class="label label-primary" id="details-label">Included :</span><br><br>
                 </div><br>
            </div> 
            <br>    
                    <div class="row1">
                          <div class="col-sm-4">
                             <img  alt="Rooms" src="static/images/tv-internet.png" height="auto" width="50px">
                        </div>
                        <div class="col-sm-4">
                            <img  alt="Pets" src="static/images/pets.png" height="auto" width="45px" >
                        </div>

                        <div class="col-sm-4">
                             <img  alt="Parking" src="static/images/parking.png" height="auto" width="50px" >
                        </div>
                    
                     </div>

                 <div class="row2">

                    <div class="col-sm-4">
                     <span class="label label-primary">TV & Internet</span>
                    </div>

                     <div class="col-sm-4">
                        <span class="label label-primary">Pet friendly</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="label label-primary">Parking</span>
                    </div>
                </div>

        <br><br><br><br><br>

        <div class="row3">
          

            <div class="col-sm-6">
                <img  alt="Pets" src="static/images/laundry.png" height="auto" width="50px" >
            </div>

            <div class="col-sm-6">
                <img  alt="Parking" src="static/images/sofa.png" height="auto" width="50px" >
            </div>
        </div>

         <div class="row4">
            
                <div class="col-sm-6">
                    <span class="label label-primary">Laundry</span>
                </div>
                    <div class="col-sm-6">
                        <span class="label label-primary">Furnished</span>
                    </div>
        </div>

        <br><br><br><br><br><br>


                
            <div class="col-sm-12 modal-upload">
                <i class="fa fa-upload fa-3x"></i><br><br>
                <span class="label label-primary" id="details-label">Upload Your Video</span><br><br>
               
            </div>
           
        
        <br><br><br><br><br>
        <div></div>

    </div>
      <div class="modal-footer ">

        <button type="button" class="btn btn-primary modal-confirm">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<body>

    <!--Nav-bar & Buttons-->

<div class="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img  alt="Brand" src="/static/images/logo.png" height="auto" width="80px" id="logo">
                </a>
            </div>

            <div class="pull-right">
                <button type="button" class="btn dashButton">Dashboard</button>
                <button type="button" class="btn postButton"data-toggle="modal" data-target="#post">Post a listing</button>
                <button type="button" class="btn searchButton"data-toggle="modal" data-target="#search">Search a listing</button>
                <button type="button" class="btn messagesButton">Messages</button>
            </div>

    </nav>

</div>

<div class="separator"></div>


<div class="container">
    <div class="row">

        <!--Profile Information Goes here-->

        <div class="col-sm-2 profile">
            <p class="profileName">Welcome<br>Ahmed</p>
                <div class="profileSeparate"></div>
        </div>

        <!--Recently Posted goes here-->

        <div class="col-sm-6 feeds">

            <p class="recentPosts">Recently Posted</p>


        <div class="col-sm-4 apartmentVideo"></div>

        <div class="col-sm-7 postDetails"></div>



        </div>

        <div class="col-sm-3 paidAds"></div>


        <!--Favourites will go here-->
        
        <div class="col-sm-6 favourites"></div>

    </div>
</div>


</body>

</html>