@font-face {
	font-family: "Roboto";
	src: url(https://fonts.googleapis.com/css?family=Roboto);
}
@font-face {
	font-family: "Roboto Slab";
	src: url(https://fonts.googleapis.com/css?family=Roboto+Slab);
}

body{
	background-color: #0073CF !important;
}
.navbar-fixed-top{
	background-color: #0073CF !important;
	border: 1px solid  #0073CF;
	padding-right: 3%;
}

.frontPageContent{
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
}

.frontPageTitle{
	font-family: "Roboto";
	font-size: 76px;
	font-weight: 400;
	color: #FED136;
	text-align: center;

}

.frontPageSubText{
	font-family: "Roboto Slab";
	font-size: 40px;
	font-weight: 100;
	color: #FED136;
	padding-bottom: 40px;
	text-align: center;
}

.joinButton{
	margin-right: auto;
	margin-left: auto;
	text-align: center
;
}

.navbar-btn{
	float: right;
	color: #FED136;
	background-color: #0073CF;
}

#inputEmail3{
	background-color: #2A689A !important;
	border: 1px solid  #0073CF;
	color: white;

}
#inputPassword3{
	background-color: #2A689A !important;
	border: 1px solid  #0073CF;
	color: white;
}

.exampleInputName2{
	background-color: white;
	color: #2A689A;
}
.exampleInputEmail2{
	background-color:white;
	color: #2A689A;
}
#exampleInputName2{
	background-color: white;
	color: #2A689A;
}
#exampleInputEmail2{
	background-color:white;
	color: #2A689A;
}
#examplePassword2{
	background-color: white;
	color:#2A689A;
}

.separator{
	padding-top: 90px;
	background-color: #0073CF !important;
}

.rButton{
	width: auto;
	background-color: #FED136;
	color: #0073CF;
	float: right;
	margin-top: 15px;	

}
.rButton:hover{
	color: #0073CF;
}
.rButton:focus{
	color: #0073CF;
}
.sButton{
	width: auto;
	background-color: #FED136;
	color: #0073CF;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.sButton:hover{
	color:#0073CF;
}
.sButton:focus{
color:#0073CF;
}

.phone{
	margin-left: 14%;
	background-color: #0073CF;
	height: auto;
	width: 350px;
}
.frontText{
	width: 50%;
	margin-top: 4%;
}

.join{
	width: 500px;
	font-size: 40px;
	background-color:  #FED136;
	color: #0073CF;
}
.join:hover{
	color: #0073CF;
}

.join:focus{
	color: #0073CF;
}
.modal-dialog{
	margin-top: 5%;
}
.modal-content{
	background-color: ghostwhite;
}

.modal-title{
	color: #0073CF;
	text-align: center;
	font-size: 30px;
}

.modal-body{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 0 !important;
}

i{
	color: #2A689A;
}

.modal-footer{
	text-align: center;
}

.glyphicon-lock{
	padding-top: 10px !important;
	color: #FED136;


}
.glyphicon-envelope{
	padding-top: 10px !important;
	color: #FED136;
}

.registerIcon{
	padding-left: 20px;
}
.social{
	padding-top: 26px;
}
.sign{
	background-color:  #FED136;
	color: #0073CF;
}
.sign:hover{
	color: #0073CF;
}
.sign:focus{
	color: #0073CF;
}
.register{
	background-color:  #FED136;
	color: #0073CF;
}
.register:hover{
	color: #0073CF;
}
.register:focus{
	color: #0073CF;
}
.glyphicon-user{
	padding-top: 10px;
	margin-left: 20px;
	color:#0073CF;
}
#registerE{
	color: #0073CF;
	padding-right: 50px;

}
#lock{
	color: #0073CF;
}

.navigation{

}

.searchButton{
	margin-right: 10px;
}
.btnSignUp {
	margin-top: 2%;
	width: 40%;
	height: 60px;
}
.userInput{
	align-content: center;
	text-align: center;
}

.userInputField{
	width: 90%;
}

.userInputFieldIcon{
	width: 10%;
}